.dashboard-link {
  display: block;
  color: $white !important;
  text-decoration: none;

  .card {
    background-color: #007bff !important;
    color: $white !important;
    border: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.25rem 0.75rem rgba($primary, 0.3); // semi-transparent shadow based on primary color
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary, 15%) !important;
      cursor: pointer;
      text-decoration: none;
      color: $white !important;
    }

    .card-body {
      i {
        margin-bottom: 15px;
        color: #fff !important;
      }
      strong {
        font-size: 1.3rem;
        color: #fff !important;
      }
    }
  }
}
